<%= form_for [@invoice, @purchase_order], html: { class: 'w-100' } do |f| %>
  <%- if @purchase_order.errors.any? %>
    <ul>
      <%- @purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <%end%>
    </ul>
  <%end%>

  <div class="columns">
    <%= f.label :client_name, class: 'label' %>
    <%= f.text_field :client_name, class: 'field', required: true, placeholder: 'Enter Client Name' %>
  </div>

  <div class="columns">
    <%= f.label :amount, class: 'label' %>
    <%= f.number_field :amount, class: 'field', required: true, min: 0, step: 0.01 %>
  </div>

  <div class="columns">
    <%= f.label :tax, class: 'label' %>
    <%= f.number_field :tax, class: 'field', min: 0, step: 0.01 %>
  </div>

  <div class="columns">
    <%= f.label :vendor, class: 'label' %>
    <%= f.text_field :vendor, class: 'field', required: true, placeholder: 'Enter Vendor Name' %>
  </div>

  <div class="columns">
    <%= f.label :status, class: 'label' %>
    <%= f.select :status, options_for_select(PurchaseOrder.statuses.keys, @purchase_order.status), { include_blank: 'Select Order Status' }, class: 'field', required: true %>
  </div>

  <div class="columns">
    <%= f.submit 'Save', class: 'button button-primary' %>
    <%= link_to 'Cancel', invoices_path, class: 'button button-secondary' %>
  </div>
<% end %>
