<tr class="invoices-table__item-tr" data-id="<%= purchase_order.id %>">
  <td class="invoices-table__item-td invoices-table__item-td--client-name"><%= purchase_order.client_name %></td>
  <td class="invoices-table__item-td"><%= number_to_currency purchase_order.amount %></td>
  <td class="invoices-table__item-td"><%= purchase_order.tax %></td>
  <td class="invoices-table__item-td">
    <%= number_to_currency total(purchase_order.amount, purchase_order.tax) %></td>
  <td class="invoices-table__item-td"><%= purchase_order.vendor %></td>
  <td class="invoices-table__item-td"><%= purchase_order.status %></td>
  <td class="invoices-table__item-td invoices-table__item-td--actions">
    <%= link_to '', edit_invoice_purchase_order_path(purchase_order.invoice_id, purchase_order.id), class: 'invoice-action invoice-action--edit-name', title: 'Change name' %>
    <%= link_to '', invoice_purchase_order_path(purchase_order.invoice_id, purchase_order.id), method: :delete, class: 'invoice-action invoice-action--delete', title: 'Delete invoice' %>
  </td>
</tr>
