$red: #f74545;
$red-hover: #fa5a5a;
$teal: #0ec0cb;
$white: #fff;
$primary: #007bff;
$primary-hover: #0069d9;
$secondary: #6c757d;
$secondary-hover: #5a6268;
$success: #28a745;
$success-hover: #218838;

@mixin xs {
  @media (max-width: 369px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 600px) and (max-width: 989px) {
    @content;
  }
}
@mixin sm-md {
  @media (max-width: 989px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 990px) {
    @content;
  }
}

@mixin gray-blue-filter {
  filter: sepia(100%) hue-rotate(140deg) brightness(65%) saturate(500%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
input,
button,
textarea {
  font-family: 'Source Sans Pro';
}

// hide "up/down" arrows for number fields
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  @include sm {
    padding-bottom: 150px;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 87px;
  background: #fafafa;
}

a {
  text-decoration: none;
  color: $teal;
  color: var(--secondary-color, $teal);
  &:hover {
    text-decoration: underline;
  }
}

.main {
  width: 100%;
  max-width: 990px;
  margin: 110px auto 0;
  padding-bottom: 80px;
}

.header {
  @include lg {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88px;
  }

  width: 100%;
  height: 57px;
  background: #fff;
  box-shadow: 0 -1px 5px #535353;
}

.header--sticky {
  position: fixed;
  z-index: 99;
  top: 0;
}

@import 'application/flash';
@import 'application/modal';
@import 'application/controls';
@import 'application/invoices';
